body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14pt;
  font-family: "Klee One", "Roboto", sans-serif;
}
#app {
  height: 100%;
}

.setup-box, .timer-box, .game-buttons {
  width: 100%;
  height: 100%;
  text-align: center;
}

input {
  font-size: 20pt;
  border: none;
  border-bottom: 2px solid;
  width: 85%;
  margin: 10px;
  text-overflow: ellipsis;
  font-family: "Klee One", "Roboto", sans-serif;
}

input.length-input {
  width: 50%;
}

.setup-box {
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
}

.setup-item {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.setup-item.blue input {
  border-color: blue;
}

.setup-item.green input {
  border-color: green;
}

.setup-item.orange input {
  border-color: orange;
}

.setup-item.yellow input {
  border-color: yellow;
}

.setup-item.pink input {
  border-color: pink;
}

.setup-item.red input {
  border-color: red;
}

.setup-item.purple input {
  border-color: purple;
}

.remove-button {
  height: 60px;
  flex: 0 0 60px;
}

.remove-button {
  border: none;
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-clip: border-box;
}

.red .remove-button {
  background-image: url("../img/remove_red.jpg")
}
.blue .remove-button {
  background-image: url("../img/remove_blue.jpg")
}
.green .remove-button {
  background-image: url("../img/remove_green.jpg")
}
.pink .remove-button {
  background-image: url("../img/remove_pink.jpg")
}
.yellow .remove-button {
  background-image: url("../img/remove_yellow.jpg")
}
.orange .remove-button {
  background-image: url("../img/remove_orange.jpg")
}
.purple .remove-button {
  background-image: url("../img/remove_purple.jpg")
}


.add-button {
  background-image: url("../img/add.jpg");
}

.start-game {
  background-image: url("../img/start.jpg");
}

.pause-box button {
  background-image: url("../img/pause.png");
}

button {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-clip: border-box;
  border: none;
  padding: 0px;
  margin: 0px;
}

.game-buttons button {
  margin-left: 50px;
  margin-right: 50px;
}

button:hover {
  background-position: left -60px top 0px;
}

button:active {
  background-position: left -120px top 0px;
}

button:disabled {
  background-position: left -180px top 0px;
}

.player-name-input {
  flex: 1 1;
}

.timer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

@media (max-width: 1024px) {
  .timer-list {
    flex-direction: column;
  }
}

.player-timer {
  flex: 0 1 100%;
  height: 100%;
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 1024px) {
  .player-timer {
    flex-direction: row;
  }
}

.player-timer.red {
  border-color: red;
  background: red;
}

.player-timer.blue {
  border-color: blue;
  background: blue;
}

.player-timer.purple {
  border-color: purple;
  background: purple;
}

.player-timer.green {
  border-color: green;
  background: green;
}

.player-timer.pink {
  border-color: pink;
  background: pink;
}

.player-timer.orange {
  border-color: orange;
  background: orange;
}

.player-timer.yellow {
  border-color: yellow;
  background: yellow;
}

.player-timer.active {
  background: white;
  color: black;
}

.player-timer.inactive {
  color: white;
}

.time-display {
  margin: auto;
  height: 120px;
  font-size: 100px;
  flex: 0 0 auto;
  align-self: center;
}

.inactive .time-display {
  display: none;
}

.player-name {
  height: 50px;
  width: 100%;
  font-size: 30px;
  flex: 0 0 auto;
  align-self: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px auto 0px auto;
}

.inactive .player-name {
  align-self: center;
  margin: auto;
}

@media (max-width: 1024px) {
  .player-name {
    width: auto;
    flex: 1 1 auto;
    margin: auto;
  }
  .active .player-name {
    width: 100px;
  }
}

.pause-box {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  margin: auto;
  z-index: 1000;
  background: transparent
}