body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14pt;
}
#app {
  height: 100%;
}

.setup-box, .timer-box {
  width: 100%;
  height: 100%;
}

/* TODO: use a flexbox here */
input {
  font-size: 20pt;
  border: none;
  border-bottom: 2px solid;
  width: 85%;
  margin: 10px;
}

.remove-button {
  width: 10%;
  height: 100%;
}

.setup-box {
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
}

.setup-item {
  width: 50%;
  margin: 20px auto;
}

.setup-item.blue input {
  border-color: blue;
}

.setup-item.green input {
  border-color: green;
}

.setup-item.orange input {
  border-color: orange;
}

.setup-item.yellow input {
  border-color: yellow;
}

.setup-item.pink input {
  border-color: pink;
}

.setup-item.red input {
  border-color: red;
}

.setup-item.purple input {
  border-color: purple;
}



.timer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.player-timer {
  flex: 0 1 100%;
  height: 100%;
  border: 2px solid;
  box-sizing: border-box;
}

.player-timer.red {
  border-color: red;
  background: red;
}

.player-timer.blue {
  border-color: blue;
  background: blue;
}

.player-timer.purple {
  border-color: purple;
  background: purple;
}

.player-timer.active {
  background: white;
}

.player-timer.inactive {
  color: white;
}

.time-display {
  font-size: 20pt;
  text-align: center;
  width: 100%;
}
